
body {
    background-color: gainsboro;
}

#container{
    background-color: white;
    margin: auto;
    width: 960px;
}

.main {
    clear: both;
    width: 960px;
    height: 900px;
    background-color: gainsboro;
}
header {
    background-color: white;
    width: 960px;
    margin-top: 50px;
    color: #777;
}

.title{
    float: left;
    margin-top: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 75px;
    background-color: #4aaaa5;
    color: white;
    height: 75px;
    width: 250px;

}

.links {
    color: #777777;
    vertical-align: middle;
    text-align: center;
    line-height: 75px;
    float: right;
    margin-top: 20px;
    width: 200px;
    height: 75px;
    /*border-style: solid;*/
    /*border-color: black;*/
}

.article {
    clear: both;
    background-color: #777;
    position: relative;
    height:200px;
    width: 960px;
    background-color: white;
    border-color: black;
    border-style: solid;
}

article{
    clear: both;
    color: #ebebeb;
    text-align: center;
}

