body {
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    background: #ececec;
}

.content {
    align-self: center;
    margin: auto;
    width: 960px;
    background: #ffffff;
    border: #292961;
    border-width: 50px;
}

.top{
    background: #ffffff;
}

.box {
    margin: auto;
    width: 960px;
    background: #4aaaa5;

}
.header {
    background: #ffffff;
}
.title{
    border-bottom: black;
    text-align: center;
    background: #4aaaa5;
    margin: auto;
    width: 500px;
}
p{
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    color: #77777;
    font-size: 1em;
}

h1{
    padding: 1em;
    text-align: center;
    color: #ffffff;
}
footer {
    background: #666666;

}

header {
    color: #4aaaa5;
    background: #ffffff;
    border: #cccccc;
}